{% include 'header.twig' %}
<link type="text/css" rel="stylesheet" href="/css/account.css">
<style>
tr.totalsRow td { border-top:2px solid #ccc; }
</style>
<h1>{{ title }}</h1>
{% include 'return-to-accounts-page.twig' %}
<a class="reportLink" href="/account/show-transactions?id={{ accountId }}">
  <img src="/images/table.png">&nbsp;&nbsp;Transaction Listing
</a><br>
<br>
{% set runningTotal = 0 %}
{% set plTotal = 0 %}
{% if assets|length > 0 %}
<table id="stockAssets">
 <tr>
  <th class="ticker">Ticker</th>
  <th class="latestPrice">Latest Price</th>
  <th class="shares">Shares</th>
  <th class="totalValue">Total Value</th>
  <th class="avgPrice">Avg Price</th>
  <th class="pl">Profit / Loss</th>
 </tr>
{% for id, info in assets %}
{% set stockTotalValue = (info.qty * info.price) %}
{% set runningTotal = runningTotal + stockTotalValue %}
{% set plTotal = plTotal + info.net %}
 <tr class="{% if id is odd %}odd{% endif %}">
  <td class="ticker">{{ info.ticker }}</td>
  <td class="latestPrice">${{ info.price|number_format(2) }}</td>
  <td class="shares">{{ info.qty }}</td>
  <td class="totalValue">${{ stockTotalValue|number_format(2) }}</td>
  <td class="avgPrice">${{ info.avgPrice|number_format(2) }}</td>
  <td class="pl {% if info.net < 0 %}red{% else %}green{% endif %}">${{ info.net|number_format(2) }}
 </tr>
{% endfor %}
 <tr class="totalsRow">
  <td></td>
  <td></td>
  <td></td>
  <td class="totalValue">${{ runningTotal|number_format(2) }}</td>
  <td></td>
  <td class="pl {% if plTotal < 0 %}red{% else %}green{% endif %}">${{ plTotal|number_format(2) }}
 </tr>
</table>
{% endif %}
{% include 'footer.twig' %}