<div id="assetImageModal" class="imageModal">
  <span id="assetImageModalClose" class="imageModalClose" onclick="imageModalClose('asset')">&times;</span>
  <img id="assetImageModalContent" class="imageModalContent">
  <div id="assetImageModalCaption" class="imageModalCaption"></div>
</div>

<div id="editAssetForm" style="display:none;">
 <table id="editAssetTable">
  <tr><td class="label">Name:</td><td><input type="text" id="assetName" value=""></td></tr>
  <tr>
   <td class="label">Category:</td>
   <td>
     {% include 'search-ahead.twig' with {'name': 'assetCategory'} %}
   </td>
  </tr>
  <tr><td class="label">Purchase Price:</td><td><input type="text" id="purchasePrice" value=""></td></tr>
  <tr><td class="label">Current Value:</td><td><input type="text" id="currentValue" value=""></td></tr>
  <tr>
   <td class="label">Made In:</td>
   <td>
    <select id="madeIn">
     <option value=""></option>{% for id, info in countries %}<option value="{{ info.id }}">{{ info.name }}</option>{% endfor %}
    </select>
   </td>
  </tr>
  {{ assetEditFields|raw }}
  <tr><td class="label">Notes:</td><td><textarea id="notes" name="notes"></textarea></td></tr>
  <tr><td class="label"><label for="sold">Sold:</label></td><td><input type="checkbox" name="sold" id="sold"></td></tr>
  <tr id="dateSoldRow">
    <td class="label"><label for="dateSold">Date Sold:</label></td>
    <td><input type="text" name="dateSold" id="dateSold"></td>
  </tr>
  <tr>
    <td class="label">Pictures:</td>
    <td><div id="assetPictures"></div><label for="pictureUpload"><a class="addPictureLink"><img src="/images/add.png" title="Add Picture">&nbsp;Add Picture</label></a><form method="POST" enctype="multipart/form-data"><input id="pictureUpload" name="files[]" type="file" multiple><input id="uploadFileButton" type="submit" value="Upload File" name="submit" /></form></td>
  </tr>
  <tr><td></td><td><input type="button" value="Save" onclick="saveAsset()"></td></tr>
 </table>
</div>