{% apply spaceless %}
{% include 'header.twig' %}
<link type="text/css" rel="stylesheet" href="/css/asset.css">
<link type="text/css" rel="stylesheet" href="/css/image-upload.css">
<script type="text/javascript" src="/js/asset.js"></script>
<script type="text/javascript" src="/js/image-upload.js"></script>
<h1>Asset Listing</h1>
{% include 'return-to-accounts-page.twig' %}
<a href="/sold-assets" class="soldAssetLink"><img class="backIcon" src="/images/coins.png">&nbsp; View Sold Assets</a><br>
<a href="?groupByCategory=1" class="toggleGroupingView"><img class="" src="/images/table_multiple.png">&nbsp; Group Assets</a><br>
<a href="javascript:showNewAssetForm()" class="addNewAsset">
<img style="vertical-align:middle" src="/images/add.png">&nbsp; Add New Asset</a>
{% include 'add-asset-dialog.twig' %}
<br><br>
<script type="text/javascript">
var a = {};
{% for i, assetInfo in assets %}
a[{{ assetInfo.id }}] = {{ assetInfo|json_encode|raw }};
{% endfor %}
window.assets = a;
</script>
{% set runningAssetTotal = 0 %}
{% if assets|length > 0 %}
<table class="assets">
<tr>
 <th class="name">Name</th>
 <th class="purchasePrice">Purchase Price</th>
 <th class="value">Current Value</th>
 <th class="madeIn">Made In</th>
 <th class="notes">Notes</th>
 <th class="actions">Actions</th>
</tr>
{% set purchasePriceTotal = 0 %}
{% set assetTotal = 0 %}
{% for i, assetInfo in assets %}
{% set assetTotal = assetTotal + assetInfo.currentValue %}
{% set purchasePriceTotal = purchasePriceTotal + assetInfo.initialValue %}
{% set runningAssetTotal = runningAssetTotal + assetInfo.currentValue %}
<tr{% if i is even %} class="odd"{% endif %}>
 <td id="name{{ assetInfo.id }}" class="name">{{ assetInfo.name }}{% if assetInfo.nameExtra is defined %}{{ assetInfo.nameExtra|raw }}{% endif %}</td>
 <td class="value">$ {{ assetInfo.initialValue|number_format(2) }}</td><td class="value">$ {{ assetInfo.currentValue|number_format(2) }}</td><td class="madeIn">{{ assetInfo.countryName }}</td><td id="notes{{ assetInfo.id }}" class="notes">{{ assetInfo.notes }}</td><td id="actions{{ assetInfo.id }}" class="actions" onmouseover="showAssetActions({{ assetInfo.id }});" onmouseout="hideAssetActions({{ assetInfo.id }});">
   <a id="edit{{ assetInfo.id }}" title="Edit this asset" onclick="showAssetEditForm({{ assetInfo.id }});"><img src="/images/edit.png"></a>&nbsp;
   <a id="delete{{ assetInfo.id }}" title="Delete this asset" onclick="deleteAsset({{ assetInfo.id }});"><img src="/images/cross.png"></a>
 </td>
</tr>
{% endfor %}
<tr>
 <td></td>
 <td class="value"><b>$ {{ purchasePriceTotal|number_format(2) }}</b></td>
 <td class="value"><b>$ {{ assetTotal|number_format(2) }}</b></td>
</tr>
</table>
{% endif %}
<br><br>
Total Value of Assets: $ <b>{{ runningAssetTotal|number_format(2) }}</b>
{% include 'footer.twig' %}
{% endapply %}