{% apply spaceless %}
{% include 'header.twig' %}
<link type="text/css" rel="stylesheet" href="/css/asset.css">
<link type="text/css" rel="stylesheet" href="/css/image-upload.css">
<script type="text/javascript" src="/js/asset.js"></script>
<h1>Sold Assets</h1>
{% include 'return-to-accounts-page.twig' %}
<a href="/assets" class="soldAssetLink"><img class="backIcon" src="/images/house.png">&nbsp; View Current Assets</a><br>
{% include 'add-asset-dialog.twig' %}
<script type="text/javascript">
window.assets = {};
{% for categoryName, categoryAssets in assets %}
{% if categoryAssets|length > 0 %}
{% for i, assetInfo in categoryAssets %}
window.assets[{{ assetInfo.id }}] = {{ assetInfo|json_encode|raw }};
{% endfor %}
{% endif %}
{% endfor %}
</script>
{% set runningAssetTotal = 0 %}
{% set salePriceTotal = 0 %}
{% for categoryName, categoryAssets in assets %}
{% if categoryAssets|length > 0 %}
<br><br>
<h3><a class="categoryName" name="{{ categoryName }}">{{ categoryName }}</a></h3>
<table class="assets">
{% if categoryDetails[categoryName] is defined %}
<tr><td colspan="5">{{ categoryDetails[categoryName]|raw }}</td></tr>
{% endif %}
<tr>
 <th class="name">Name</th>
 <th class="purchasePrice">Purchase Price</th>
 <th class="value">Sale Price</th>
 <th class="dateSold">Sold On</th>
 <th class="madeIn">Made In</th>
 <th class="notes">Notes</th>
 <th class="actions">Actions</th>
 </tr>
{% set purchasePriceTotal = 0 %}
{% set assetTotal = 0 %}
{% for i, assetInfo in categoryAssets %}
{% set assetTotal = assetTotal + assetInfo.currentValue %}
{% set salePriceTotal = salePriceTotal + assetInfo.currentValue %}
{% set purchasePriceTotal = purchasePriceTotal + assetInfo.initialValue %}
<tr class="{% if i is even %}odd{% endif %}">
 <td id="name{{ assetInfo.id }}" class="name">{{ assetInfo.name }}{% if assetInfo.nameExtra is defined %}{{ assetInfo.nameExtra|raw }}{% endif %}</td>
 <td class="value">$ {{ assetInfo.initialValue|number_format(2) }}</td>
 <td class="value">$ {{ assetInfo.currentValue|number_format(2) }}</td>
 <td class="dateSold">{{ assetInfo.dateSold }}</td>
 <td class="madeIn">{{ assetInfo.countryName }}</td>
 <td id="notes{{ assetInfo.id }}" class="notes">{{ assetInfo.notes }}</td>
 <td id="actions{{ assetInfo.id }}" class="actions" onmouseover="showAssetActions({{ assetInfo.id }});" onmouseout="hideAssetActions({{ assetInfo.id }});">
   <a id="edit{{ assetInfo.id }}" title="Edit this asset" onclick="showAssetEditForm({{ assetInfo.id }});"><img src="/images/edit.png"></a>&nbsp;
   <a id="delete{{ assetInfo.id }}" title="Delete this asset" onclick="deleteAsset({{ assetInfo.id }});"><img src="/images/cross.png"></a>
 </td>
</tr>
{% endfor %}
<tr>
 <td></td>
 <td class="value"><b>$ {{ purchasePriceTotal|number_format(2) }}</b></td>
 <td class="value"><b>$ {{ assetTotal|number_format(2) }}</b></td>
</tr>
</table>
{% endif %}
{% endfor %}
<br><br>
Total Sale Price: $ <b>{{ salePriceTotal|number_format(2) }}</b>
{% include 'footer.twig' %}
{% endapply %}