{% set fullScreen = 1 %}
{% include 'header.twig' %}
<link type="text/css" rel="stylesheet" href="/css/report.css">
<script type="text/javascript" src="/js/report/assetallocation.js"></script>
<h1>{{ title }}</h1>
{% include 'return-to-accounts-page.twig' %}
<br><br>
<div id="fullScreenChart"></div>
<br>
<script type="text/javascript">
window.assetAllocationData = {{(assetJSON|json_encode|raw)}};
</script>
<div id="pieChartTotal">
<b>Total Value:</b> $ {{ totalValue }}
</div>
{% include 'footer.twig' %}