{% include 'header.twig' %}
<link type="text/css" rel="stylesheet" href="/css/automobiles.css">
<script type="text/javascript" src="/js/automobile/maintenance.js"></script>
<h1>{{ title }}</h1>
{% include 'return-to-accounts-page.twig' %}
<br>
Vehicle:
<select id="carSelector" name="carSelector">
{% for arrId,car in automobiles %}
<option value="{{ car.id }}"{% if car.id == id %} SELECTED{% endif %}>{{ car.name }}</option>
{% endfor %}
</select>
<br><br>
<a href="/automobile/gas-mileage?id={{ id }}">Gas Mileage</a> |
Service Log |
<a href="/automobile/log?id={{ id }}">Transactions</a> |
<a href="/automobile/tco?id={{ id }}">TCO</a>
<br><br>
{% if maintenanceLog|length > 0 %}
<table id="vehicleInfo">
<tr>
 <th>Date</th>
 <th>Odometer</th>
 <th class="payee">Payee</th>
 <th>Cost</th>
 <th>Upgrade?</th>
 <th class="notes">Notes</th>
</tr>
{% for key, row in maintenanceLog %}
<tr class="{% if key is odd %}odd{% endif %}">
 <td class="date">{{ row.date }}</td>
 <td class="mileage">{% if row.mileage > 0 %}{{ row.mileage }}{% else %}-{% endif %}</td>
 <td class="payee"><a href="/account/show-transactions?entityId={{ row.payeeId }}&month={{ row.date|slice(0,7) }}">{{ row.payee }}</a></td>
 <td class="cost">${{ row.amount|number_format(2) }}</td>
 <td class="serviceType">{% if row.upgradeWork == 1 %}X{% endif %}</td>
 <td class="notes">{{ row.notes }}</td>
</tr>
{% endfor %}
</table>
<br><br>
<b>Maintenance Total:</b> ${{ totals.maintenanceTotal|number_format(2) }}<br>
<b>Upgrade Total:</b> ${{ totals.upgradeTotal|number_format(2) }}<br>
<b>Total Expenses:</b> ${{ totals.totalSpent|number_format(2) }}<br>
<b>Total Miles Logged:</b> {{ totals.milesLogged }}<br>
<b>Cost Per Mile:</b>${{ totals.costPerMile|number_format(3) }}<br>
<b>Maintenance Notes:</b><br>
<textarea id="maintenanceNotes">{{ info.maintenanceNotes }}</textarea>
<br>
<input value="Update Notes" onclick="updateMaintenanceNotes()" type="button">
<input id="assetId" type="hidden" value="{{ id }}">
<input id="view" type="hidden" value="{{ view }}">
<br><br><br><br>
{% endif %}
{% include 'footer.twig' %}