{% include 'header.twig' %}
<h1>{{ title }}</h1>
{% include 'return-to-accounts-page.twig' %}
<br><br>
{% for key,row in assets %}
<span style="font-size:26px; font-weight:bold">{{ row.name }}</span> (${{ row.currentValue }})<br>
<img src="{{ row.picture }}" width="800"><br>
{% set disp = 0 %}
{% if row.maintenanceLogEntries > 0 %}
 {% set disp = disp+1 %}<a href="/automobile/maintenance?id={{ row.id }}">Service History</a>
{% endif %}
{% if row.gasLogEntries > 0 %}
 {% if disp > 0 %} | {% endif %}
 {% set disp = disp+1 %}<a href="/automobile/gas-mileage?id={{ row.id }}">Gas Mileage</a>
{% endif %}
{% if disp > 0 %} | {% endif %}
<a href="/automobile/tco?id={{ row.id }}">TCO</a>
{% if row.accountId != '' %} | <a href="/account/show-transactions?id={{ row.accountId }}&dateRange=all">Loan Details</a>{% endif %}
<br>
{% if row.notes|length > 0 %}Notes: {{ row.notes }}{% endif %}
<br><br><br>
{% endfor %}
{% include 'footer.twig' %}