{% include 'header.twig' %}
<link type="text/css" rel="stylesheet" href="/css/automobiles.css">
<script type="text/javascript" src="/js/automobile/gasmileage.js"></script>
<h1>{{ title }}</h1>
{% include 'return-to-accounts-page.twig' %}
<br>
Vehicle: 
<select id="carSelector" name="carSelector">
{% for arrId,car in automobiles %}
<option value="{{ car.id }}"{% if car.id == id %} SELECTED{% endif %}>{{ car.name }}</option>
{% endfor %}
</select>
<br><br>
Gas Mileage | 
<a href="/automobile/maintenance?id={{ id }}">Service Log</a> |
<a href="/automobile/log?id={{ id }}">Transactions</a> |
<a href="/automobile/tco?id={{ id }}">TCO</a>
<br><br>
{% if mileageInfo|length > 0 %}
<table id="vehicleInfo">
<tr>
 <th>Date</th>
 <th class="payee">Gas Station</th>
 <th>Gas Price</th>
 <th>Gallons<br>Pumped</th>
 <th>Cost</th>
 <th>Odometer</th>
 <th>Miles<br>Driven</th>
 <th title="Miles per gallon of the previous tank">MPG</th>
</tr>
{% set totalCost = 0 %}
{% for key, row in mileageInfo %}
{% if row.gasPrice != "" %}{% set cost = row.gasPrice * row.gasPumped %}{% else %}
{% set cost = row.amount %}
{% endif %}
{% set totalCost = totalCost + cost %}
<tr class="{% if key is odd %}odd{% endif %}">
 <td class="date">{{ row.date }}</td>
 <td class="gasStation"><a href="/account/show-transactions?entityId={{ row.entityId }}&month={{ row.date|slice(0,7) }}">{{ row.entityName }}</a></td>
 <td class="gasPrice">{% if row.gasPrice != "" %}${{ row.gasPrice }}{% endif %}</td>
 <td class="gasPumped">{{ row.gasPumped }}</td>
 <td class="cost">${{ cost|number_format(2) }}</td>
 <td class="mileage">{{ row.mileage }}</td>
 <td class="milesDriven">{{ row.milesDriven }}</td>
 <td class="mpg">{{ row.mpg }}</td>
</tr>
{% endfor %}
</table>
<br><br><br>
<b>Total Miles Driven:</b> {{ totals.milesDriven }}<br>
<b>Total Gas Pumped:</b> {{ totals.gasPumped|number_format(1) }} gal.<br>
<b>Average MPG:</b> {{ totals.averageMPG }}<br>
<b>Total Gas Expenses:</b> ${{ totalCost|number_format(2) }}<br>
<b>Cost per Mile:</b> {{ totals.costPerMile }} cents<br>
<br><br><br><br>
{% endif %}
{% include 'footer.twig' %}