{% set fullScreen = 1 %}
{% include 'header.twig' %}
<script type="text/javascript" src="/js/automobile/tco.js"></script>
<link type="text/css" rel="stylesheet" href="/css/report.css">
<h1>{{ title }}</h1>
{% include 'return-to-accounts-page.twig' %}
<br>
Vehicle:
<select id="carSelector" name="carSelector">
{% for arrId,car in automobiles %}
<option value="{{ car.id }}"{% if car.id == id %} SELECTED{% endif %}>{{ car.name }}</option>
{% endfor %}
</select>
<br><br>
<a href="/automobile/gas-mileage?id={{ id }}">Gas Mileage</a> |
<a href="/automobile/maintenance?id={{ id }}">Service Log</a> |
<a href="/automobile/log?id={{ id }}">Transactions</a> |
TCO
<br><br>
<script type="text/javascript">
window.chartData = {{ chartData|json_encode|raw }};
</script>
<div id="fullScreenChart"></div><br>
Starting Mileage: {{ totals.start|number_format(0) }}<br>
{% if vehicleInfo.dateSold != "" %}Ending Mileage:{% else %}Current Mileage: {% endif %}{{ totals.end|number_format(0) }}<br>
Miles Driven: {{ totals.milesDriven|number_format }}<br>
<b>Total Cost:</b> ${{ tco.totalCost|number_format(2) }}<br>
<b>Cost Per Mile:</b>
{% if totals.costPerMile < 100 %}
{{ totals.costPerMile|number_format(2) }} cents<br>
{% else %}
${{ (totals.costPerMile/100)|number_format(2) }}<br>
{% endif %}
{% if totals.costPerMonth > 0 %}
<b>Cost Per Month:</b>
${{ totals.costPerMonth|number_format(2) }}<br>
{% endif %}
{% include 'footer.twig' %}