{% set fullScreen = 1 %}
{% include 'header.twig' %}
<link type="text/css" rel="stylesheet" href="/css/report.css">
<script type="text/javascript" src="/js/report.js"></script>
<script type="text/javascript" src="/js/report/expensesbytag.js"></script>
<h1>{{ title }}</h1>
{% include 'return-to-accounts-page.twig' %}
<br>
Tag:
<select id="tagId" class="tagSelect" name="tagId"><option value=""></option>
{% for key,tag in tags %}
<option value="{{ tag.id }}"{% if tag.id == selectedTag %} SELECTED{% endif %}>{{ tag.name }}</option>{% endfor %}</select>
<br><br>
{% include 'report-date-range-select.twig' %}
<br><br>
{% include 'report-grouping-select.twig' %}
<br><br>
<label for="showAllTimePeriods">Show All Time Periods: </label>
<input type="checkbox" id="showAllTimePeriods" name="showAllTimePeriods"{% if showAllTimePeriods %} CHECKED{% endif %}>
<br><br>
<input type="button" id="search" value="Run Report" onclick="runExpensesByTagReport()">
<br><br><br>
<script type="text/javascript">
window.chartData = {{ chartData|raw }}
</script>
{% if chartData is not empty %}
<div id="fullScreenChart"></div>
{% endif %}
<br><br>
{% set runningTotal = 0 %}
{% if expenses|length > 0 %}
<table id="results"><tr><th>{{ grouping|capitalize }}</th><th>Amount</th></tr>
{% for expenseGrouping, total in expenses %}
<tr><td><a href="/account/show-transactions?{{ grouping }}={{ expenseGrouping }}&amp;tagId={{ selectedTag }}">{{ expenseGrouping }}</a></td>
<td><center>${{ total|number_format(2) }}</center></td></tr>
{% set runningTotal = runningTotal + total %}
{% endfor %}
<tr><td><b>Total</b></td><td><b>${{ runningTotal|number_format(2) }}</b></td></tr>
</table>
{% endif %}
<br><br>
{% include 'footer.twig' %}