{% set fullScreen = 1 %}
{% include 'header.twig' %}
<link type="text/css" rel="stylesheet" href="/css/report.css">
<script type="text/javascript" src="/js/report/expenses.js"></script>
<h1>{{ title }}</h1>
{% include 'return-to-accounts-page.twig' %}
<br>
Date Range: 
<select id="dateRange">
 <option value="this-month"{% if dateRange == "this-month" %} SELECTED{% endif %}>Current Month</option>
 <option value="this-year"{% if dateRange == "this-year" %} SELECTED{% endif %}>Current Year</option>
 <option value="single-year"{% if dateRange == "single-year" %} SELECTED{% endif %}>Select a Year</option>
</select>
<br><br>
<div id="yearSelection">
Year:
<select id="year">
{% for i in firstYear..currentYear %}
<option value="{{ i }}"{% if i == selectedYear %} SELECTED{% endif %}>{{ i }}</option>
{% endfor %}
</select>
</div>
<br>
<label for="useMainCategories">Use Main Categories? </label><input type="checkbox" id="useMainCategories" {% if useMainCategories == 1 %}CHECKED{% endif %}>
<br><br>
<input type="button" value="Run Report" onclick="runExpenseReport()">
<div id="fullScreenChart"></div>
<br>
<script type="text/javascript">
window.expenseData = {{(expenseData|json_encode|raw)}};
</script>
{% include 'footer.twig' %}