{% set fullScreen = 1 %}
{% include 'header.twig' %}
<link type="text/css" rel="stylesheet" href="/css/report.css">
<script type="text/javascript" src="/js/report.js"></script>
<script type="text/javascript" src="/js/report/expensesbycategory.js"></script>
<h1>{{ title }}</h1>
{% include 'return-to-accounts-page.twig' %}
<br>
Category: 
<select id="categoryId" class="categorySelect" name="categoryId" multiple><option value=""></option>
{% for key,category in categories %}
<option value="{{ category.id }}"{% if category.id in selectedCategories %} SELECTED{% endif %}>{{ category.name }}</option>{% endfor %}</select>
<br><br>
{% include 'report-date-range-select.twig' %}
<br><br>
{% include 'report-grouping-select.twig' %}
<br><br>
<label for="showAllTimePeriods">Show All Time Periods: </label>
<input type="checkbox" id="showAllTimePeriods" name="showAllTimePeriods"{% if showAllTimePeriods %} CHECKED{% endif %}>
<br><br>
<input type="button" id="search" value="Run Report" onclick="runExpenseByCategoryReport()">
<br><br><br>
{% if chartData is not empty %}
<script type="text/javascript">
window.chartData = {{ chartData|raw }}
</script>
<div id="fullScreenChart"></div>
{% endif %}
<br><br>
{% set runningTotal = 0 %}
{% if expenses|length > 0 %}
<table id="results"><tr><th>{{ grouping|capitalize }}</th><th>Amount</th></tr>
{% for expenseGrouping, total in expenses %}
<tr><td><a href="/account/show-transactions?{{ grouping }}={{ expenseGrouping }}&amp;categoryId={{ selectedCategory }}">{{ expenseGrouping }}</a></td>
<td><center>${{ total|number_format(2) }}</center></td></tr>
{% set runningTotal = runningTotal + total %}
{% endfor %}
<tr><td><b>Total</b></td><td><b>${{ runningTotal|number_format(2) }}</b></td></tr>
</table>
{% endif %}
<br><br>
<h1>{{ subtitle }}</h1>
<div id="expensesByEntityChart"></div>
<br><br>
{% if entityExpenses|length > 0 %}
<table>
 <tr>
  <th class="entityName">Entity</th>
  <th class="byEntityTotal">Amount</th>
  <th>Notes</th>
 </tr>
{% for key, row in entityExpenses %}
<tr>
 <td class="entityName">{{ row.entityName }}</td>
 <td class="byEntityTotal">$ {{ row.total }}</td>
 <td class="byEntityNotes">
  {% if row.notesCollection|length > 0 %}
  <ul>
    {% for subkey, note in row.notesCollection %}
      <li>{{ note }}</li>
    {% endfor %}
  </ul>
  {% endif %}
 </td>
</tr>
{% endfor %}
</table>
{{ entityExpenses|length }} entities
<script type="text/javascript">
window.expensesByEntityData = {{ (topExpenses|json_encode|raw) }};
</script>
{% endif %}
{% include 'footer.twig' %}