{% include 'header.twig' %}
<link type="text/css" rel="stylesheet" href="/css/user/login.css">
<br>
<form action="/user/login-submit" method="POST">
<table id="login">
 <tr>
  <td>Username: </td>
  <td>
    <input id="username" name="username" class="field" type="text" autofocus>
  </td>
 </tr>
 <tr>
  <td>Password: </td>
  <td>
   <input id="password" name="password" class="field" type="password">
  </td>
 </tr>
</table>
<br>
<input class="field" type="submit" value="Login">
</form>
{% include 'footer.twig' %}