{% set fullScreen = 1 %}
{% include 'header.twig' %}
<link type="text/css" rel="stylesheet" href="/css/report.css">
<script type="text/javascript" src="/js/report.js"></script>
<script type="text/javascript" src="/js/report/networth.js"></script>
<h1>{{ title }}</h1>
{% include 'return-to-accounts-page.twig' %}
<br>
From: <input id="from" class="dateInput" type="text" onchange="updateDateRangeFrom()" value="{{ from }}">&nbsp; &nbsp;
To: <input id="to" class="dateInput" type="text" onchange="updateDateRangeTo()" value="{{ to }}">
<br><br>
{% include 'reporting-time-periods.twig' %}
<script type="text/javascript">
window.startingDate = "{{ from }}";
window.networthLog = {{(networthLog|json_encode|raw)}};
</script>
<div id="fullScreenChart"></div>
{% include 'footer.twig' %}