<div class="timePeriods">
<a id="thisYear" class="timePeriod">YTD</a> :: <a id="lastYear" class="timePeriod">Last Year</a> :: <a id="last12Mo" class="timePeriod">1YR</a> :: <a id="last3" class="timePeriod">3YR</a> :: <a id="last5" class="timePeriod">5YR</a> :: <a id="all" class="timePeriod">All</a></div>
<br>