{% include 'header.twig' %}
<h1>{{ title }}</h1>
<style>
table.stockPriceTable tr { height:48px; }
td.ticker {
 padding-right:32px;
 text-align:right;
}
td.input {
 text-align:center;
}
input.stockPrice { width:100px; }
</style>
<script type="text/javascript">
function updatePrices() {
  const inputs = document.querySelectorAll('input.stockPrice');
  let postBody = [];
  for (let i = 0; i < inputs.length; i++) {
    postBody.push({ ticker: inputs[i].id, price: inputs[i].value });
  }
  console.log(postBody);
  let url = '/stock-price-update';

  fetch(url, {
      method: 'POST',
      body: JSON.stringify(postBody),
    }).then((response) => {
     console.log(response);
   });

}
</script>
{% include 'return-to-accounts-page.twig' %}
<br><br>
<table class="stockPriceTable">
{% for id, info in stocks %}
<tr>
 <td class="ticker"><label for="{{ info.ticker }}">{{ info.ticker }} (${{ info.lastPrice|number_format(2) }})</label></td>
 <td class="input"><input id="{{ info.ticker }}" name="{{ info.ticker }}" class="stockPrice" value=""></td>
</tr>
{% endfor %}
<tr>
 <td></td>
 <td>
  <input type="button" value="Update Prices" onclick="updatePrices()">
 </td>
</tr>
</table>
{% include 'footer.twig' %}