{% include 'header.twig' %}
<link type="text/css" rel="stylesheet" href="/css/account.css">
<link type="text/css" rel="stylesheet" href="/css/tag.css">
<script type="text/javascript" src="/js/tag.js"></script>
<h1>{{ title }}</h1>
{% include 'return-to-accounts-page.twig' %}
<a href="javascript:showNewTagForm()" class="addNewTag">
<img style="vertical-align:middle" src="/images/add.png">&nbsp; Add New Tag</a>
{% include 'add-tag-dialog.twig' %}
<br><br>
<table class="tags">
<tr>
 <th class="name">Name</th>
 <th class="transactionCount">Transactions</th>
 <th class="actions">Actions</th>
</tr>
{% for id, info in tags %}
<tr class="{% if id is even %}odd{% endif %}">
<td class="name"><span id="tagName{{ info.id }}">{{ info.name }}</span></td>
<td class="transactionCount"><a href="/account/show-transactions?tagId={{ info.id}}">{{ info.transactionCount }}</a></td>
<td class="actions" onmouseover="showTagActions({{ info.id }});" onmouseout="hideTagActions({{ info.id }});">
 <a id="edit{{ info.id }}" title="Edit this tag" onclick="showTagEditForm({{ info.id }});"><img src="/images/edit.png"></a>&nbsp;
 <a id="delete{{ info.id }}" title="Delete this tag" onclick="deleteTag({{ info.id }});"><img src="/images/cross.png"></a>
</td>
</tr>
{% endfor %}
</table>
{% include 'footer.twig' %}
