{% include 'header.twig' %}
<link type="text/css" rel="stylesheet" href="/css/account.css">
<link type="text/css" rel="stylesheet" href="/css/image-upload.css">
<script type="text/javascript" src="/js/image-upload.js"></script>
<h1>{{ title }}</h1>
{% include 'return-to-accounts-page.twig' %}
<br>
<input type="text" id="searchText" value="{{ searchString }}">
<input type="button" value="Search" onclick="transactionSearch()">
<br><br>
<i>{{ transactions|length }} transactions found</i><br><br>
{% if transactions|length %}
<table id="transactionListing">
<tr>
 <th class="tDate">Date</th>
 <th class="tAccount">Account</th>
 <th class="tPayee">Payee</th>
 <th class="tCat">Category</th>
 <th class="tWit">Amount</th>
 <th class="tTot">Total</th>
 <th>Type</th>
 <th class="tNotes">Notes</th>
</tr>
{% for key,row in transactions %}
<tr class="{% if key is odd %}odd{% endif %}">
 <td class="transactionDate">{{ row.date|slice(0,10) }}</td>
 <td>{{ row.accountName }}</td>
 <td class="transactionPayee">
  <a href="/account/show-transactions?entityId={{ row.entityId }}">
    {{ row.entityName }}
  </a>
 </td>
 <td>{{ row.categoryLink|raw }}</td>
 <td class="transactionWithdrawal">{{ row.amount }}</td>
 <td class="transactionTotal">{{ row.balance }}</td>
 <td>{{ row.transactionType }}</td>

 <td class="transactionNotes">{{ row.notes }}</td>
</tr>
{% endfor %}
</table>
{% endif %}
{% include 'footer.twig' %}