{% include 'header.twig' %}
<link type="text/css" rel="stylesheet" href="/css/user/init-user-form.css">
<script type="text/javascript" src="/js/user/add.js"></script>
<h1>Initial User Setup</h1>
<form id="init-user-form" action="/user/init-add-submit" method="POST">
<table>
 <tr>
  <td>Username: </td>
  <td>
    <input id="username" name="username" class="field" type="text" autofocus>
  </td>
 </tr>
 <tr>
  <td>Password: </td>
  <td>
   <input id="password1" name="password1" class="field" type="password">
  </td>
 </tr>
 <tr>
  <td>Repeat PW: </td>
  <td>
   <input id="password2" name="password2" class="field" type="password">
  </td>
 </tr>
</table>
<div id="pwMismatch">Passwords do not match!</div>
<br>
<input class="field" type="button" value="Create User" onclick="validateNewUserForm()">
</form>
{% include 'footer.twig' %}

