{% set fullScreen = 1 %}
{% include 'header.twig' %}
<link type="text/css" rel="stylesheet" href="/css/report.css">
<script type="text/javascript" src="/js/report.js"></script>
<script type="text/javascript" src="/js/report/yearlysummary.js"></script>
<style>
td.label {
 padding-right:12px;
 text-align:right;
 width:300px;
}
td.big {
 cursor: pointer;
 font-size:1.6em;
}

table#incomeDetail, table#expenseDetail {
 display:none;
 height:200px;
 overflow-y: scroll;
 overflow-x: hidden;
 table-layout: fixed;
 width:480px;
}

table#incomeDetail tr td, table#expenseDetail tr td {
 cursor:pointer;
}
</style>
<script type="text/javascript">
function toggleVis(el) {
  var detailTable = document.getElementById(el); 
  if ((detailTable.style.display === '') || (detailTable.style.display === 'none')) {
    detailTable.style.display = 'block';
  }
  else {
    detailTable.style.display = 'none';
  }
}
</script>
<h1>{{ title }}</h1>
{% include 'return-to-accounts-page.twig' %}
<br>
<div id="yearSelection">
Year:
<select id="year" onchange="yearUpdated()">
{% for i in currentYear..firstYear %}
<option value="{{ i }}"{% if i == selectedYear %} SELECTED{% endif %}>{{ i }}</option>
{% endfor %}
</select>
</div>
<br>
<table>
 <tr onclick="toggleVis('incomeDetail')">
  <td class="big label">Total Income: </td>
  <td class="big">$ {{ incomeTotal|number_format(2) }}</td>
 </tr>
</table>
<table id="incomeDetail">
{% for id, info in incomeSources %}
 <tr>
  <td class="label">{{ info.category }}</td>
  <td>$ {{ info.total|number_format(2) }}</td>
 </tr>
{% endfor %}
</table>
<table>
 <tr onclick="toggleVis('expenseDetail')">
  <td class="big label">Total Expenses: </td>
  <td class="big">$ {{ expenseTotal|number_format(2) }}</td>
 </tr>
</table>
<table id="expenseDetail">
{% for id, info in expenses %}
 <tr>
  <td class="label">{{ info.category }}</td>
  <td>$ {{ info.total|number_format(2) }}</td>
 </tr>
{% endfor %}
</table>
