#fullScreenChart { width:700px; height:420px; }

@media (min-width:1700px) { #fullScreenChart { width:1680px; height:800px; }}
@media (min-width:1600px) and (max-width:1700px) { #fullScreenChart { width:1580px; height:800px; }}
@media (min-width:1500px) and (max-width:1600px) { #fullScreenChart { width:1480px; height:800px; }}
@media (min-width:1400px) and (max-width:1500px) { #fullScreenChart { width:1380px; height:720px; }}
@media (min-width:1300px) and (max-width:1400px) { #fullScreenChart { width:1280px; height:640px; }}
@media (min-width:1200px) and (max-width:1300px) { #fullScreenChart { width:1180px; height:600px; }}
@media (min-width:1100px) and (max-width:1200px) { #fullScreenChart { width:1080px; height:540px;} }
@media (min-width:1000px) and (max-width:1100px) { #fullScreenChart { width:980px; height:480px; }}
@media (min-width:900px) and (max-width:1000px) { #fullScreenChart { width:880px; height:420px; }}
@media (min-width:800px) and (max-width:900px) { #fullScreenChart { width:780px; height:360px; }}
@media (min-width:700px) and (max-width:800px) { #fullScreenChart { width:680px; height:300px; }}
@media (min-width:600px) and (max-width:700px) { #fullScreenChart { width:580px; height:240px; }}
