a.addNewAsset, a.soldAssetLink, a.toggleGroupingView {
 font-size:12px;
 text-decoration:none;
}

td.label {
 font-size:11px;
 font-weight:bold;
 padding-right:4px;
 text-align:right;
}

table.assets {
 table-layout:fixed;
 width:100%;
}

table.assets td { font-size:12px; }
table.assets th { font-size:13px; }
table.assets th.name, table.assets td.name {
 text-align:left; 
 width:350px;
}

div#editAssetForm { width:500px; }

table#editAssetTable { border-spacing: 4px; border-collapse: separate; }
table#editAssetTable td { padding:0px; }
table#editAssetTable tr td select, table#editAssetTable tr td input { font-size:12px; }



th.category, td.category {
 padding-left:8px;
 text-align:left; 
 width:250px;
}

th.purchasePrice, th.value, td.value {
 padding-right:8px; 
 width:105px;
}
th.purchasePrice, th.value, td.value { text-align:right; }

th.notes, td.notes { 
 padding-left:8px;
 text-align:left; 
 width:400px;
}
th.dateSold, td.dateSold { text-align:center; width:200px; }
th.madeIn, td.madeIn { text-align:center; width:120px; }

a.addPictureLink {
 cursor:pointer;
 font-size:11px;
 vertical-align:middle;
}

th.actions, td.actions { width:50px; }

td.actions a { cursor:pointer; display:none; }

input#assetName { font-size:12px; width:465px; }
input#purchasePrice, input#currentValue, input#dateSold { font-size:12px; width:90px; }
input#picture { font-size:12px; width:465px; }
textarea#notes { font-size:12px; width:465px; }

input#assetCategorySearch { 
 font-size:12px;
 width:465px; 
}
div#assetCategoryDD { width:450px; }

#pictureUpload, #uploadFileButton { display:none; }