tr.odd { background-color: #e1edfb; }
td.date, td.mileage, td.cost { text-align:center; width:100px; }
th.payee, th.notes { text-align:left; }
.payee a, .gasStation a { text-decoration:none; }
.serviceType { text-align:center; }
th.notes, td.notes { padding-left:12px; }

tr#maintainenanceLogHeader, tr#autoTaxLogHeader, tr#autoInsuranceLogHeader {
 display:none;
}

img.maintenanceLogAddIcon, img.gasMileageLogAddIcon { 
 cursor:pointer;
 vertical-align:middle; 
}
input.mileage, input.maintenanceCost, input.autoTaxCost, input.autoInsuranceCost { width:60px; }
textarea.maintenanceNotes { font-size:12px; width:100%; }

tr.mlVehicle { padding-top:12px; }

select.autoTaxVehicle { width:100%; }
tr.atVehicle { padding-top:12px; }

textarea#maintenanceNotes { width:900px; height:100px; }