body { font-family:sans-serif; }
a { color:blue; }

div#content { margin-bottom:48px; }

a.returnToAccountsPage {
 font-size:12px;
 text-decoration:none;
 user-select:none;
}

img.backIcon { vertical-align:middle; }

div#footer { 
background-color:#ddd;
border-top:1px solid #aaa;
bottom:0px;
font-size:14px;
height:26px;
left:0;
line-height:26px;
padding-left:16px;
position:fixed;
width:100%; 
margin-top:32px;
}


#flotTip {
 background-color: #000;
 border-radius:4px;
 border:2px solid #fff;
 color:#f0f0f0;
 font-size:12px; 
 z-index: 100;
 box-shadow: 0 0 10px #555;
 opacity: .7;
 padding:3px 5px;
 filter: alpha(opacity=70);
}
