a#addBudgetItem { 
 font-size:12px;
 text-decoration:none;
}

td.label {
 font-size:11px;
 font-weight:bold;
 padding-right:4px;
 text-align:right;
}

#addBudgetItemForm td { font-size:11px; }

#addBudgetItemForm select, #addBudgetItemForm input {
    font-size: 12px;
}

input#amount { width:64px; }
tr#categoryRow, tr#lookBehindRow { display:none; }
#label, #categorySearch { width:250px; }
div#categoryDD { width:250px; }

#cashflowIncome, #cashflowVariableExpense, #cashflowFixedExpense, #cashflow, #retirementSavings {
 font-size:12px; 
}

table#cashflow { font-size:16px; }

tr.odd { background-color:#e1edfb; }

td.incomeName, td.expenseName { width:250px; }
td.amount { text-align:right; width:100px; }
td.amount a { color:blue; cursor:pointer; }

td.totalLabel { font-weight:bold; width:250px; }
td.totalAmount { text-align:right; width:100px; }

td#leftSide {
 width:500px;
}
td#rightSide {
 vertical-align:top;
 width:650px;
}
div#cashflowChart { 
 margin:0 auto;
 height:500px;
 width:500px;
}

#deleteConfirm {
 display:none;
 font-size:12px;
}

#deleteConfirmed, #deleteCancelled { 
 cursor:pointer;
 letter-spacing:0.5px;
}
#deleteConfirmed { color:green; }
#deleteCancelled { color:red; }