div#assetAllocation { height:500px; width:1000px; }

div#expenseByCategory, div#expensesByEntity { height:500px; width:1400px; }

select#categoryId { 
height:150px;
vertical-align:middle;
}

.entityName { width:300px; }
.byEntityTotal { width:100px; }
.entityName { text-align:left; }

#expensesByEntityChart { width:700px; height:420px; }
#pieChartTotal { font-size:16px; margin-left:650px;margin-top:-20px; }

.dateInput {
 border:1px solid #ccc;
 font-size:100%;
 padding:0.3em;
 text-align:center;
 width:7em;
}

.timePeriods { color:blue; cursor:pointer; font-size:16px; }
.timePeriods .selected { color:black; }

@media (min-width:1700px) and (max-width:10000px) { #fullScreenChart,#expensesByEntityChart { width:1680px; height:800px; }}
@media (min-width:1600px) and (max-width:1700px) { #fullScreenChart,#expensesByEntityChart { width:1580px; height:800px; }}
@media (min-width:1500px) and (max-width:1600px) { #fullScreenChart,#expensesByEntityChart { width:1480px; height:800px; }}
@media (min-width:1400px) and (max-width:1500px) { #fullScreenChart,#expensesByEntityChart { width:1380px; height:720px; }}
@media (min-width:1300px) and (max-width:1400px) { #fullScreenChart,#expensesByEntityChart { width:1280px; height:640px; }}
@media (min-width:1200px) and (max-width:1300px) { #fullScreenChart,#expensesByEntityChart { width:1180px; height:600px; }}
@media (min-width:1100px) and (max-width:1200px) { #fullScreenChart,#expensesByEntityChart { width:1080px; height:540px; }}
@media (min-width:1000px) and (max-width:1100px) { #fullScreenChart,#expensesByEntityChart { width:980px; height:480px; }}
@media (min-width:900px) and (max-width:1000px) { #fullScreenChart,#expensesByEntityChart { width:880px; height:420px; }}
@media (min-width:800px) and (max-width:900px) { #fullScreenChart,#expensesByEntityChart { width:780px; height:360px; }}
@media (min-width:700px) and (max-width:800px) { #fullScreenChart,#expensesByEntityChart { width:680px; height:300px; }}
@media (min-width:600px) and (max-width:700px) { #fullScreenChart,#expensesByEntityChart { width:580px; height:240px; }}